{% extends'frontoffice.html.twig' %}

{% block page_name %}L'association{% endblock %}

{% block body %}
    <section class="trophey-room">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <p>La Teamates Gaming est une association sous loi 1901, par conséquent une adhésion annuelle est demandée.<br><br>
                        Sans cette adhésion, nous ne pourrons malheureusement pas vous faire bénéficier des avantages de l’association (paiement entrée en LAN par exemple). Afin de vous éclaircir sur ce point, nous ne pourrons débourser 1€ pour une line-up SI TOUS les joueurs n'ont pas souscrit à leur adhésion (ancien comme nouvel arrivant).
                        <br><br>
                        Pour se faire, rendez-vous sur le widget à votre droite et choisissez quel type d'adhésion vous souhaitez. Remplissez ensuite les informations demandées. Un document sera à télécharger en bas de page, merci de le remplir et de le transmettre à : association@teamates-gaming.com
                        <br><br>
                        Procédez au paiement (en annulant les dons auprès d'helloasso). Vous recevez une confirmation via mail ainsi qu'une carte d’adhérent.<br>
                        Cette adhésion sera effective durant une année (elle n'est ni annulable, ni remboursable).<br>
                        Pour les mineurs, il vous est également demandé de nous fournir une autorisation parentale.<br>
                        <br>
                        Nous vous rappelons que toute personne non adhérente ne pourras malheureusement pas bénéficier des avantages TMG et de ce fait sera susceptible de pénaliser l'ensemble de son équipe. Nous vous rappelons que le type d'adhésion est au choix et vous fera bénéficier d'avantages selon le pack choisi.
                    </p>
                    <br>
                </div>
                <div class="col-md-4">
                    <iframe  id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/teamates-gaming/adhesions/bulletin-d-adhesion/widget-vignette" style="width:350px;height:450px;border:none;"></iframe><div style="width:100%;text-align:center;"></div>
                </div>
                <div class="col-md-8" style="text-align: center;margin-bottom: 50px;">
                    <a class="btn_download" download="Documents_inscriptions.pdf" href="{{ asset('Commun/download/Documents_inscriptions.pdf') }}">Télécharger le document</a></div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
