.btn_download{
    padding: 18px 30px 16px 30px;
    border-radius: 9px;
    background: #6d071a;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-family: Montserrat,sans-serif;
    line-height: normal;
    transition: all .4s;
}

.btn_download:hover{
    color: white;
    background-color: #141414;
}